@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}


.container {
  min-height: 100vh;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  animation: fadeIn 1s ease-in-out;
}

.profileImage {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid white;
  margin-bottom: 20px;
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
  animation-delay: 0.3s;
}

.introContainer {
  margin-bottom: 40px;
}

.title {
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 10px;
  opacity: 0;
  animation: slideIn 1s ease-in-out forwards;
  animation-delay: 0.5s;
}

.description {
  font-size: 1.5rem;
  opacity: 0.8;
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
  animation-delay: 0.7s;
}

.skillsContainer {
  margin-top: 20px;
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
  animation-delay: 0.9s;
}

.skillsTitle {
  font-size: 2rem;
  font-weight: bold;
}

.skillsList {
  list-style: none;
  padding: 0;
  font-size: 1.2rem;
  display: flex;
  gap: 15px;
  justify-content: center;
}

.skillsList li {
  background: #00bcd4;
  padding: 10px 15px;
  border-radius: 10px;
  font-weight: bold;
}

.projectsContainer {
  margin-bottom: 40px;
  text-align: center;
}
.projectsTitle {
  font-size: 2rem;
  margin-bottom: 10px;
}
.projectsList {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.projectsList li {
  background: #1e1e1e;
  padding: 10px 15px;
  border-radius: 8px;
  transition: background 0.3s ease-in-out;
}
.projectsList li:hover {
  background: #00bcd4;
}
.projectLink {
  color: #00bcd4;
  text-decoration: none;
  font-size: 1.2rem;
  transition: color 0.3s ease-in-out;
}
.projectLink:hover {
  color: #ffffff;
}
.linkContainer {
  margin-top: 20px;
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
  animation-delay: 1.1s;
}

.githubLink {
  color: #1e90ff;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  transition: color 0.3s ease, transform 0.3s ease;;
}

.githubLink:hover {
  color: #00bfff;
  text-decoration: underline;
  transform: scale(1.1);
}

.footer {
  margin-top: 40px;
}
.instagramLink {
  color: #00bcd4;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}
.instagramLink:hover {
  color: #ffffff;
}